*{
    margin: 0;
    padding: 0;
}
.navbar container1bhavya{
position:sticky;
}
.main-divbhavya{
    justify-content: left;
    position: relative;
    top:20px;
    left: 50px;
}
.image-div1bhavya{
    width : 20px;
}
ul{
    display: flex;
    
}
.nav-ulbhavya{
    display: flex;

    justify-content: center;
}
.nav-libhavya{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: inline;
}
.nav-linkbhavya{
    text-decoration: none;
    color: grey;
}
.image-div2bhavya{
    width : 20px;
    margin-right: 10px;
}
.image-div22bhavya{
    display: flex;
    
    flex-direction: row;
    justify-content: right;
    position: relative;
    top:-30px;
    left:-100px;
}
.container2bhavya{
    text-align: center;
    background-image: url(banner-bg.webp);
    background-repeat: no-repeat;

}
.container5crbhavya:hover{
    border: solid black 2px;
}
.freshh1bhavya{
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
}
.organicbhavya{
    color: coral;
}
.subheadingh3bhavya{
    font-family: sans-serif;
    color: grey;
}
nav{
    background-color: white;
    font-family: sans-serif;
}
.container3heading1bhavya{
    text-align: center;
    font-family: sans-serif;
}
.reviewbhavya{
    color: white;
    background-color: #fcb33c;
}
.shakalbhavya{
    width: 80px;
    border-radius: 100%;
    justify-content: center;
}
.cardbhavya{
    margin:5px;
    background-color: white;
    border-radius: 5px;
}

.shakallorembhavya{
    color: grey;
    font-family: sans-serif;
}
.container3cobhavya{
    text-align: center;
}
.container5crbhavya{
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.container3bhavya{
    background-color: rgb(230, 227, 227);;
}


.btnbhavya{
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
  }
  
  
  .btnbhavya:hover {
    background: #fcb33c;
    text-decoration: none;
  }
  .card-imagebhavya{
    width: 20rem;
    margin: 10px;
    border-radius: 10px;
  }
  .parent-card-divbhavya{
    display: flex;
    flex-direction: row;
    margin-left:60px;
    margin-right: 60px;
    text-align: center;
  }
  .card-parabhavya{
    font-family: sans-serif;
    color: grey;
    font-size: 15px;
  }
  .vegetable-headingbhavya{
    font-family: sans-serif;
  }
  .readbhavya{
    text-align: left;
  }
  

  footer{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: sans-serif;

  }
  .footer-sub-divbhavya{
    margin-right: 50px;
  }

  .brand-namebhavya{
    font-size: 25px;
    font-weight: 800;
  }
